[Unit]
Description=screen run
After=network-online.target
Requires=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/mert/source/FollowingRobotCar/
ExecStart=/home/mert/source/FollowingRobotCar/run.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target